<a href="https://colab.research.google.com/github/Gilbert9172/CSAI_assignment/blob/main/%5B%EC%A0%95%EA%B8%B8%EC%A4%80%5DN232.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1)

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

def result(df):

    sum_male = df[df['Age'] == 20].groupby('Gender').get_group('Male').Price.sum()
    sum_female = df[df['Age'] == 20].groupby('Gender').get_group('Female').Price.sum()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.2, sum_female: 43.730000000000004

304

# 2)

In [ ]:
# 그룹별 Price 평균
Under_twenty = df[df['Age'] < 21].Price.mean()
Over_twenty = df[(df['Age'] > 20) & (df['Age'] < 51)].Price.mean()

print(Under_twenty , Over_twenty, sep="\n")

3.101818181818184
3.0215587044534415

In [ ]:
# 판매수 상위 Item ID & 매출 상위 Item IDs

Top = df.groupby(['Item Name','Item ID'])[['Price']].sum().sort_values('Price')[::-1]
Top

                                                      Price
Item Name                                    Item ID
Oathbreaker, Last Hope of the Breaking Storm 178      50.76
Nirvana                                      82       44.10
Fiery Glass Crusader                         145      41.22
Final Critic                                 92       39.04
Singed Scalpel                               103      34.80
...                                                     ...
Exiled Mithril Longsword                     126       2.00
Whistling Mithril Warblade                   125       2.00
Crucifer                                     23        1.99
Gladiator's Glaive                           104       1.93
The Decapitator                              42        1.75

[183 rows x 1 columns]