<a href="https://colab.research.google.com/github/helookscool/CSAI_assignment/blob/main/n212a_multiple_regression_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 2*

# üìù Assignment
---

# Îã§Ï§ëÏÑ†ÌòïÌöåÍ∑Ä(Multiple Linear Regression)

Ïù¥Î≤à Í≥ºÏ†úÏóêÏÑúÎèÑ n211 Í≥ºÏ†ú ÏóêÏÑú Îã§Î£®ÏóàÎçò housing price datasetÏùÑ Í∞ÄÏßÄÍ≥† Î∞∞Ïö¥ ÎÇ¥Ïö©ÏùÑ Ïó∞ÏäµÌï¥ Î≥¥Í≤†ÏäµÎãàÎã§.
Îã§Ïùå ÎßÅÌÅ¨ÏóêÏÑú Îã§Ïö¥Î°úÎìú Î∞õÏïÑ ÏÇ¨Ïö©Ìï¥ Ï£ºÏÑ∏Ïöî. [House Sales in King County, USA](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [ ]:
# Îç∞Ïù¥ÌÑ∞Îäî Ï∫êÍ∏ÄÏóêÏÑú Î∞õÏúºÏÖîÎèÑ ÎêòÍ≥† Ïù¥ ÎßÅÌÅ¨ÏóêÏÑú Î∂àÎü¨ÏôÄÎèÑ Îê©ÎãàÎã§.
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [ ]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
#Ìï≠ÏÉÅ ÏùºÎã® Í≤∞Ï∏°ÏπòÎ∂ÄÌÑ∞ Ï°∞Ï†∏Î≥¥Îäî ÏäµÍ¥ÄÏù¥ ÌïÑÏöîÌïòÏßÄ.
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

### 1)

In [ ]:
df1=df['date']>= '201500101T000000'
df2=df[df1]
print(len(df2))
test = df2
test.head()

6980

           id             date     price  ...     long  sqft_living15  sqft_lot15
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503
7  2008000270  20150115T000000  291850.0  ... -122.315           1650        9711
8  2414600126  20150415T000000  229500.0  ... -122.337           1780        8113
9  3793500160  20150312T000000  323000.0  ... -122.031           2390        7570

[5 rows x 21 columns]

In [ ]:
df3=df['date']< '201500101T000000'
df4=df[df3]
print(len(df4))
train=df4
train.head()

14633

           id             date      price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000   221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000   538000.0  ... -122.319           1690        7639
3  2487200875  20141209T000000   604000.0  ... -122.393           1360        5000
5  7237550310  20140512T000000  1225000.0  ... -122.005           4760      101930
6  1321400060  20140627T000000   257500.0  ... -122.327           2238        6819

[5 rows x 21 columns]

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

### 2)

In [ ]:
import numpy as np #ÎÑòÌååÏù¥ Ïó∞ÏÑ±

#labelÏ†ïÏùò
target='price'
y_train = train[target]
y_test = test[target]
features = ['bathrooms', 'sqft_living'] #ÌäπÏÑ±ÏßÄÏ†ï

from sklearn.linear_model import LinearRegression #ÏÑ†ÌòïÌöåÍ∑Ä Ïó∞ÏÑ±
from sklearn.metrics import mean_absolute_error #MAE Ïó∞ÏÑ±
model = LinearRegression()
X_train = train[features]
X_test = test[features]

In [ ]:
# Î™®Îç∏ fit
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'ÌõàÎ†® ÏóêÎü¨: {mae:.2f}')

ÌõàÎ†® ÏóêÎü¨: 170777.34

In [ ]:
# ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê Ï†ÅÏö©
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print(f'ÌÖåÏä§Ìä∏ ÏóêÎü¨: {mae:.2f}')

ÌÖåÏä§Ìä∏ ÏóêÎü¨: 179252.53

### 3)

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî 
model.intercept_, model.coef_

(-50243.56279640319, array([-5158.92591411,   286.13753555]))

In [ ]:
## ÌöåÍ∑ÄÏãùÏùÑ ÎßåÎì§Ïñ¥ Î¥ÖÏãúÎã§.
b0 = model.intercept_ #Ïù¥Í≤å Ï∂îÏ†ïÎêú ÏÉÅÏàòÌï≠Ïù∏Îç∞, ÏïåÌååÎ•º ÏùòÎØ∏ÌïòÎäî ÎìØ. 
b1, b2 = model.coef_

print(f'y = {b0:.0f} + {b1:.0f}x\u2081 + {b2:.0f}x\u2082')
print('sqft_livingÏùò ÌöåÍ∑ÄÍ≥ÑÏàòÎäî 286, Ï†àÌé∏ÏùÄ -50244')

y = -50244 + -5159x‚ÇÅ + 286x‚ÇÇ
sqft_livingÏùò ÌöåÍ∑ÄÍ≥ÑÏàòÎäî 286, Ï†àÌé∏ÏùÄ -50244

### 4)

In [ ]:
#trainÎç∞Ïù¥ÌÑ∞Ïùò Í∞íÎì§
from sklearn.metrics import  mean_squared_error, mean_absolute_error, r2_score 
model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mse = mean_squared_error(y_train, y_pred)
mae = mean_absolute_error(y_train, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_train, y_pred)
display(pd.DataFrame([['MSE', mse],['MAE', mae],['RMSE', rmse],['R2', r2]], columns=['Metric', 'Score']))

  Metric         Score
0    MSE  6.709905e+10
1    MAE  1.707773e+05
2   RMSE  2.590348e+05
3     R2  5.076086e-01

In [ ]:
#testÎç∞Ïù¥ÌÑ∞Ïùò Í∞íÎì§
from sklearn.metrics import  mean_squared_error, mean_absolute_error, r2_score 
model.fit(X_test, y_test)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)
display(pd.DataFrame([['MSE', mse],['MAE', mae],['RMSE', rmse],['R2', r2]], columns=['Metric', 'Score']))

  Metric         Score
0    MSE  7.069343e+10
1    MAE  1.796417e+05
2   RMSE  2.658824e+05
3     R2  4.629600e-01

## üî•ÎèÑÏ†ÑÍ≥ºÏ†ú

### 5)

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ### 
# ÏïÑÏßÅ Î™ªÌï®!!!!!

## Ï∞∏Í≥†ÏûêÎ£å
* [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
* ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)
* [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf)
* [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
* [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)