<a href="https://colab.research.google.com/github/momotonton/CSAI_assignment/blob/main/N212JH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 데이터는 캐글에서 받으셔도 되고 이 링크에서 불러와도 됩니다.
# 문제 1
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')

In [2]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [3]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [4]:
# Date 'T' remove (string to int)
def toInt(string):
    return int(string.replace('T',''))
df['date'] = df['date'].apply(toInt)

In [9]:
test = df[df['date'] >= 20150101000000]
train = df.drop(test.index)

In [10]:
# check train , test data
len(df), len(train), len(test) , len(train) + len(test)

(21613, 14633, 6980, 21613)

In [11]:
print(f'train 데이터의 샘플 값은 :{len(train)}')

train 데이터의 샘플 값은 :14633

In [12]:
# 문제 2
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
target = 'price'
y_train = train[target]
y_test = test[target]

predict = y_train.mean()
model = LinearRegression()
features = ['bathrooms', 
            'sqft_living']

X_train = train[features]
X_test = test[features]

model.fit(X_train, y_train)
y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred) # train mae
#print(f'훈련 에러: {mae}')
y_pred2 = model.predict(X_test)
mae2 = mean_absolute_error(y_test, y_pred2) # test mae

#print(f'테스트 에러: {mae2}')
print(f'테스트 세트의 MAE값: {mae2}')

테스트 세트의 MAE값: 179252.52593261775

In [13]:
# 문제 3
model.intercept_ # intercept
print(f'sqft_living의 회귀계수는 : {model.coef_[1]}') # [0] bathrooms [1] sqft_living

sqft_living의 회귀계수는 : 286.1375355497683

In [18]:
# 문제 4 (코드리뷰 필요)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import numpy

mse2 = mean_squared_error(y_test, y_pred2)
rmse4 = mse2 ** 0.5
r2 = r2_score(y_test, y_pred2)
display(pd.DataFrame([['MSE', mse2],['MAE', mae2],['RMSE', rmse4],['R2', r2]], columns=['Metric', 'Score']))
print(f'테스트 데이터에 대한 r^2 값은 : {r2}')

  Metric         Score
0    MSE  7.108399e+10
1    MAE  1.792525e+05
2   RMSE  2.666158e+05
3     R2  4.599930e-01

테스트 데이터에 대한 r^2 값은 : 0.45999300199894533