<a href="https://colab.research.google.com/github/ljs7463/CSAI_assignment/blob/main/n214a_logistic_regression_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---

In [ ]:
 pip install --upgrade scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/a8/eb/a48f25c967526b66d5f1fa7a984594f0bf0a5afafa94a8c4dbc317744620/scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 22.3MB 61.0MB/s
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Installing collected packages: threadpoolctl, scikit-learn
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed scikit-learn-0.24.2 threadpoolctl-2.1.0

In [ ]:
!pip install --upgrade category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 81kB 6.0MB/s
Requirement already satisfied, skipping upgrade: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied, skipping upgrade: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied, skipping upgrade: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied, skipping upgrade: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied, skipping upgrade: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')
df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [ ]:
# idÏª¨Îüº drop
df.drop('id', axis = 1, inplace = True)
df.head()

     age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0  18393       2     168    62.0    110  ...     1      0     0       1       0
1  20228       1     156    85.0    140  ...     1      0     0       1       1
2  18857       1     165    64.0    130  ...     1      0     0       0       1
3  17623       2     169    82.0    150  ...     1      0     0       1       1
4  17474       1     156    56.0    100  ...     1      0     0       0       0

[5 rows x 12 columns]

In [ ]:
# missing valueÌôïÏù∏
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [ ]:
# Ï§ëÎ≥µÎêú ÏÉòÌîå ÌôïÏù∏ÌïòÍ∏∞
df[df.duplicated()==True]

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
10562  20495       1     165    70.0    120  ...     1      0     0       1       0
21784  16793       1     165    68.0    120  ...     1      0     0       1       0
38505  18988       1     164    65.0    120  ...     1      0     0       1       0
40365  14552       1     158    64.0    120  ...     1      0     0       1       0
42450  18353       1     169    67.0    120  ...     1      0     0       1       0
44653  16937       2     170    70.0    120  ...     1      0     0       0       0
45125  21280       1     165    65.0    120  ...     1      0     0       1       0
45748  22077       1     175    69.0    120  ...     1      0     0       1       1
45810  21230       1     164    62.0    120  ...     1      0     0       1       0
48917  21945       1     165    60.0    120  ...     1      0     0       1       0
50432  17493       2     169    74.0    120  ...     1      0     0       1       1
52552  21943       1     165    65.0    120  ...     1      0     0       1       1
56643  17535       2     165    65.0    120  ...     1      0     0       1       0
56906  20293       1     162    70.0    110  ...     1      0     0       1       0
57946  18955       1     165    75.0    120  ...     1      0     0       1       1
58730  19858       1     165    68.0    120  ...     1      0     0       1       0
60453  20516       1     164    66.0    120  ...     1      0     0       0       0
60474  16805       1     157    67.0    120  ...     1      0     0       1       0
62318  18979       1     165    65.0    120  ...     1      0     0       0       0
64169  16160       1     168    65.0    120  ...     1      0     0       1       1
65079  18210       1     160    60.0    120  ...     1      0     0       1       0
65622  21778       1     160    58.0    120  ...     1      0     0       1       0
66190  19059       1     165    65.0    120  ...     1      0     0       1       1
68281  21119       1     160    60.0    120  ...     1      0     0       0       1

[24 rows x 12 columns]

In [ ]:
df.head()

     age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0  18393       2     168    62.0    110  ...     1      0     0       1       0
1  20228       1     156    85.0    140  ...     1      0     0       1       1
2  18857       1     165    64.0    130  ...     1      0     0       0       1
3  17623       2     169    82.0    150  ...     1      0     0       1       1
4  17474       1     156    56.0    100  ...     1      0     0       0       0

[5 rows x 12 columns]

In [ ]:
# Ï§ëÎ≥µÎêú ÏÉòÌîå Ï†úÍ±∞ÌïòÍ∏∞
df[df.duplicated()==True].index

for i in df[df.duplicated()==True].index:
  df.drop(i, axis = 0,inplace=True)  

print('ÎÇ®ÏùÄ SampleÏùò Ïàò:',len(df))

# df.drop_duplicates() Ìï®Ïàò ÏÇ¨Ïö©ÌïòÎäîÍ≤ÉÏù¥ Îçî Ìé∏Î¶¨ÌïòÎã§.

ÎÇ®ÏùÄ SampleÏùò Ïàò: 69976

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- ÌõàÎ†®Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20, random_state=2)
- **Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

ÌÉÄÍ≤ü ÌäπÏÑ± ÌôïÏù∏

Age : ÎÇòÏù¥

Height : ÎÜíÏù¥

Weight : Î¨¥Í≤å

Gender :  ÏÑ±Î≥Ñ

ap_hi : ÏàòÏ∂ïÍ∏∞ ÌòàÏïï

ap_lo : Ïù¥ÏôÑÍ∏∞ ÌòàÏïï

Cholesterol : ÏΩúÎ†àÏä§ÌÖåÎ°§

gluc : Ìè¨ÎèÑÎãπ

Smoke : Ìù°Ïó∞

alco: ÏïåÏΩîÏò¨ ÏÑ≠Ï∑®

active : Ïã†Ï≤¥ ÌôúÎèô

cardio :  Ïã¨ÌòàÍ≥º ÏßàÌôòÏùò Ïú†Î¨¥

In [ ]:
# target ÏÑ†Ï†ï
target = 'cardio'



# train, testÏÖã Î∂ÑÎ¶¨
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size = 0.2, random_state = 2)
y_true = test[target] # testÎç∞Ïù¥ÌÑ∞Ïùò target Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
test.drop(target, axis = 1, inplace=True) 

# train, validationÏÖã Î∂ÑÎ¶¨
train, val = train_test_split(train, test_size = 0.2, random_state = 2)

# Î∂ÑÎ¶¨Îêú Îç∞Ïù¥ÌÑ∞ Ï†êÍ≤Ä
train.shape, val.shape, test.shape, y_true.shape

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

((44784, 12), (11196, 12), (13996, 11), (13996,))

In [ ]:
# Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞ Ïùò Í∞úÏàò
print('Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Ïùò Í∞úÏàòÎäî',len(val),'Í∞ú')

Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Ïùò Í∞úÏàòÎäî 11196 Í∞ú

### 3) ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò LogisticRegressionÏùÑ ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **LogisticRegression Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥†(max_iter=1000) Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
# feature ÎßåÎì§Í∏∞
feature = []
for i in train.columns[:-1]:
  feature.append(i)

# Í∏∞Ï§ÄÎ™®Îç∏ ÏÑ†Ï†ï

y_train = train[target]
y_train.value_counts(normalize=True)
major = y_train.mode()[0]
y_pred = [major] * len(y_train)

from sklearn.metrics import accuracy_score
print(y_train.value_counts(normalize=True))
print("training accuracy: ", accuracy_score(y_train, y_pred))

1    0.501697
0    0.498303
Name: cardio, dtype: float64
training accuracy:  0.501697034655234

In [ ]:
# LogisticRegression Î™®Îç∏ Î∂àÎü¨Ïò§Í∏∞
from sklearn.linear_model import LogisticRegression

# Îç∞Ïù¥ÌÑ∞ÏÖã Ï§ÄÎπÑ
X_train = train[feature]
X_val = val[feature]
y_val = val[target]


# Î™®Îç∏ ÌïôÏäµÌïòÍ∏∞
logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [ ]:
# Í≤ÄÏ¶ùÏÖãÏóê Î™®Îç∏ Ï†ïÌôïÎèÑ ÌÖåÏä§Ìä∏ ÌïòÍ∏∞
print('Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ:',logistic.score(X_val, y_val))

Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ: 0.7073061807788495

### 4) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- category_encodersÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 'gender' ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- LogisticRegression Î™®Îç∏ÏùÑ Îã§Ïãú ÌïôÏäµÌï©ÎãàÎã§.
- **Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
from category_encoders import OneHotEncoder
encoder = OneHotEncoder(use_cat_names=True,cols='gender')
X_train_encoded =  encoder.fit_transform(X_train)
X_val_encoded = encoder.transform(X_val)
X_train_encoded.head(3)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

         age  gender_1.0  gender_2.0  height  ...  gluc  smoke  alco  active
221    17591           1           0     157  ...     1      0     0       0
59211  19677           0           1     174  ...     1      0     0       1
26654  23504           1           0     158  ...     3      0     0       1

[3 rows x 12 columns]

In [ ]:
#logistic = LogisticRegression(max_iter=1000)
logistic.fit(X_train_encoded, y_train)

LogisticRegression(max_iter=1000)

In [ ]:
# Í≤ÄÏ¶ùÏÖãÏóê Î™®Îç∏ Ï†ïÌôïÎèÑ ÌÖåÏä§Ìä∏ ÌïòÍ∏∞
print('Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ:',logistic.score(X_val_encoded , y_val))

Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ: 0.6944444444444444

### 5) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.(0.712 Ïù¥ÏÉÅ)**

In [ ]:
from category_encoders import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# StandardScaler
scaler = StandardScaler()
X_val_scaler = scaler.fit_transform(X_val_encoded)

# Í≤ÄÏ†ïÏÑ∏Ìä∏Î°ú Î™®Îç∏ ÏµúÏ†ÅÌôî 
logistic = LogisticRegression()
logistic.fit(X_val_scaler, y_val)


# X_testÏÖã ÏßÄÏ†ï
X_test = test[feature]

# X_testÏÖã Ïù∏ÏΩîÎî©, scaler
encoder = OneHotEncoder(use_cat_names=True,cols='gender')
X_test = encoder.fit_transform(X_test)
X_test = scaler.fit_transform(X_test)
# ÌÖåÏä§Ìä∏ÏÖã ÏòàÏ∏°
logistic.score(X_test, y_true)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

0.7317090597313518

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú:

### 6) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† Í∞ÄÎä•Ìïú Î∞©Î≤ïÏúºÎ°ú Î™®Îç∏ÏùÑ ÌäúÎãùÌï¥ÏÑú Í≤∞Í≥ºÎ•º ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî. ÏµúÏÜåÌïú Îã§Ïùå ÎÇ¥Ïö©Îì§Ïù¥ Ìè¨Ìï®Ïù¥ ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§.
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏµúÏÜåÌïú Ìïú Í∞ú Ïù¥ÏÉÅ ÎßåÎìúÏÑ∏Ïöî.
- ÌäπÏÑ±Îì§ÏùÑ ÌôïÏù∏Ìï¥ÏÑú ÏïÑÏõÉÎùºÏù¥Ïñ¥ÎùºÍ≥† ÏÉùÍ∞ÅÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÑ ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. (Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÎ•º Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©Ìï¥Ïïº ÌïòÎäîÏßÄ ÏïåÏïÑÎ≥¥Í≥† ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.)
- ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ ÏÑ±Îä•ÏùÑ Î¶¨Ìè¨ÌåÖÌïòÍ≥† Ìï¥ÏÑùÌï©ÎãàÎã§.