<a href="https://colab.research.google.com/github/ZeusKwon/CSAI_assignment/blob/main/n232a_data_wrangling_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# üìù Assignment
---
# Data Wrangling

### 1)

In [ ]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)
df

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44
...                    ...  ...    ...
775             Aethedru70  ...   3.54
776                 Iral74  ...   1.63
777             Yathecal72  ...   3.46
778                Sisur91  ...   4.19
779              Ennrian78  ...   4.60

[780 rows x 6 columns]

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Ï†úÏ∂úÌèº Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## Îã§Ïùå result Ìï®Ïàò ÏïàÏóê male, female Î≥ÄÏàòÎ•º Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.(groupby, get_groupÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî.)
## sum_male: Age = 20, Gender = "Male" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.
## sum_female: Age = 20, Gender = "Female" Í∑∏Î£πÏùò PriceÎ•º Ìï©ÌïòÏÑ∏Ïöî.

def result(df):

    sum_male = df[df['Age'] == 20].groupby('Gender').sum('Price').iloc[1,2]
    sum_female = df[df['Age'] == 20].groupby('Gender').sum('Price').iloc[0,2]

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.20000000000005, sum_female: 43.730000000000004

304

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Î≥∏Ïù∏ Îç∞Ïù¥ÌÑ∞Î°ú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

### 2)
     **ÎÇòÏù¥ 1-20ÏÑ∏ Í∑∏Î£π(20ÏÑ∏ Ìè¨Ìï®)Ïùò ÌèâÍ∑† PriceÎäî 3.101818Ïù¥Îã§.**
     **ÎÇòÏù¥ 21-50ÏÑ∏ Í∑∏Î£πÏùò ÌèâÍ∑† PriceÎäî 3.021559Ïù¥Îã§.**
     **Í∞ÄÏû• ÎßéÏù¥ Íµ¨ÏûÖÌïú ÏïÑÏù¥ÌÖúÏùò IDÎäî 178 Ïù¥Îã§.**
     ÎëêÎ≤àÏß∏Î°ú Îß§Ï∂úÏùÑ ÎßéÏù¥ ÎÇ∏ ÏïÑÏù¥ÌÖú IDÎäî 145Ïù¥Îã§.

In [ ]:
# Í∑∏Î£πÎ≥Ñ Price ÌèâÍ∑†
import numpy as np
df.groupby(np.where(df['Age']<=20,'20Ïù¥Ìïò','20Ï¥àÍ≥º 50Ïù¥Ìïò')).mean()['Price']

20Ïù¥Ìïò         3.101818
20Ï¥àÍ≥º 50Ïù¥Ìïò    3.021559
Name: Price, dtype: float64

In [ ]:
# ÌåêÎß§Ïàò ÏÉÅÏúÑ Item ID
df.groupby('Item ID').count()['Price'].sort_values(ascending=False)

Item ID
178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Price, Length: 183, dtype: int64

In [ ]:
# Îß§Ï∂ú ÏÉÅÏúÑ Item IDs
df.groupby('Item ID').sum()['Price'].sort_values(ascending=False)

Item ID
178    50.76
82     44.10
145    41.22
92     39.04
103    34.80
       ...
125     2.00
126     2.00
23      1.99
104     1.93
42      1.75
Name: Price, Length: 183, dtype: float64

## üî•

### 3) Ï°∞Í∏à Î∂ÄÏ°±ÌïòÎçîÎùºÎèÑ ÏµúÏÜåÌïúÏùò Îû≠Í∏ÄÎßÅÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï§ÄÎπÑÌïòÏó¨ Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÏºú Î≥¥ÏÑ∏Ïöî
- Ïó¨Îü¨Î∂ÑÎì§Ïù¥ ÏÑ†ÌÉùÌïú Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÄÍ≥† Í∞ÑÎã®Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥† Í≤∞Í≥ºÎ•º Î¶¨Ìè¨ÌåÖ Ìï©ÎãàÎã§.

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###