### 1)

In [ ]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

In [ ]:
df

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44
...                    ...  ...    ...
775             Aethedru70  ...   3.54
776                 Iral74  ...   1.63
777             Yathecal72  ...   3.46
778                Sisur91  ...   4.19
779              Ennrian78  ...   4.60

[780 rows x 6 columns]

In [ ]:
### 이곳에서 제출폼 과제를 진행해 주세요 ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## 다음 result 함수 안에 male, female 변수를 계산하세요.(groupby, get_group을 사용하세요.)
## sum_male: Age = 20, Gender = "Male" 그룹의 Price를 합하세요.
## sum_female: Age = 20, Gender = "Female" 그룹의 Price를 합하세요.

def result(df):

    sum_male = df[(df['Gender']=='Male') & (df['Age']==20)].groupby(['Gender','Age'])['Price'].sum()[0]
    sum_female = df[(df['Gender']=='Female') & (df['Age']==20)].groupby(['Gender','Age'])['Price'].sum()[0]

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.20000000000005, sum_female: 43.730000000000004

304

In [ ]:
df = pd.read_csv('/content/Pokemon.csv')

df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

### 2)

In [ ]:
### 이곳에서 제출폼 과제를 진행해 주세요 ###
# 그룹별 Price 평균
print('1번',df['Price'][(df['Age']>=1) & (df['Age']<=20)].mean())
print('2번',df['Price'][(df['Age']>=21) & (df['Age']<=50)].mean())
# 판매수 상위 Item ID
print('3번',df['Item ID'].mode()[0])
# 매출 상위 Item IDs
print('4번',df['Item ID'].value_counts()[:5].index[1])

1번 3.101818181818184
2번 3.0215587044534415
3번 178
4번 82

In [ ]:
### 이곳에서 본인 데이터로 과제를 진행해 주세요 ###

In [ ]:
### 이곳에서 과제를 진행해 주세요 ###