<a href="https://colab.research.google.com/github/ljs7463/CSAI_assignment/blob/main/n232-data-wrangling/n232a-data-wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1)

In [ ]:
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

In [ ]:
df

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44
...                    ...  ...    ...
775             Aethedru70  ...   3.54
776                 Iral74  ...   1.63
777             Yathecal72  ...   3.46
778                Sisur91  ...   4.19
779              Ennrian78  ...   4.60

[780 rows x 6 columns]

In [ ]:
### 이곳에서 제출폼 과제를 진행해 주세요 ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

## 다음 result 함수 안에 male, female 변수를 계산하세요.(groupby, get_group을 사용하세요.)
## sum_male: Age = 20, Gender = "Male" 그룹의 Price를 합하세요.
## sum_female: Age = 20, Gender = "Female" 그룹의 Price를 합하세요.

def result(df):

    sum_male = df.groupby([df['Age']==20, df['Gender']=='Male'])['Price'].sum().tolist()[-1]
    sum_female = df.groupby([df['Age']==20, df['Gender']=='Female'])['Price'].sum().tolist()[-1]

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.20000000000005, sum_female: 43.730000000000004

304

### 2)

In [ ]:
### 이곳에서 제출폼 과제를 진행해 주세요 ###

# 그룹별 Price 평균
# 1번 정답
print(df.groupby(df['Age']<=20)['Price'].mean().tolist()[-1])
# 2번 정답
print(df.groupby((df['Age']>=21) & (df['Age']<=50))['Price'].mean().tolist()[-1])

# 판매수 상위 Item ID
# 3번 정답
print(df['Item ID'].mode())

#매출 상위 Item IDs
# 4번 오답
print(pd.DataFrame(df.groupby('Item ID')['Price'].sum().sort_values(ascending= False)).index[1])

3.101818181818184
3.0215587044534415
0    178
dtype: int64
82

### 3)