<a href="https://colab.research.google.com/github/momotonton/CSAI_assignment/blob/main/n232-data-wrangling/n232a-data-wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 2*

# ğŸ“ Assignment
---
# Data Wrangling

### 1) ì§€ì†ì ìœ¼ë¡œ ì—¬ëŸ¬ë¶„ì˜ í¬íŠ¸í´ë¦¬ì˜¤ ë°ì´í„°ë¥¼ ë­ê¸€ë§ í•˜ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ë“¤ì„ ë­ê¸€ë§í•˜ì—¬ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•œ í…Œì´ë¸” í˜•íƒœì˜ ë°ì´í„°ë¡œ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- **ë‹¤ìŒ í•¨ìˆ˜ì˜ resultë¥¼ ì™„ì„±ì‹œí‚¤ê³  ë¦¬í„´ê°’ì„ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [4]:
########### Import Library ##############
import pandas as pd
import numpy as np

In [3]:
### ì´ê³³ì—ì„œ ì œì¶œí¼ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

In [ ]:
df.head()

                        SN  ...  Price
Purchase ID                 ...
0                  Lisim78  ...   3.53
1              Lisovynya38  ...   1.56
2               Ithergue48  ...   4.88
3            Chamassasya86  ...   3.27
4                Iskosia90  ...   1.44

[5 rows x 6 columns]

In [ ]:
df['Age'] == 20

Purchase ID
0       True
1      False
2      False
3      False
4      False
       ...
775    False
776    False
777     True
778    False
779    False
Name: Age, Length: 780, dtype: bool

In [ ]:
df['Price'].groupby([df['Gender'], df['Age'] == 20]).sum()

Gender                 Age
Female                 False     318.21
                       True       43.73
Male                   False    1707.44
                       True      260.20
Other / Non-Disclosed  False      39.80
                       True       10.39
Name: Price, dtype: float64

In [ ]:
## ë‹¤ìŒ result í•¨ìˆ˜ ì•ˆì— male, female ë³€ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.(groupby, get_groupì„ ì‚¬ìš©í•˜ì„¸ìš”.)
## sum_male: Age = 20, Gender = "Male" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.
## sum_female: Age = 20, Gender = "Female" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.
def result(df):

    sum_male = df[df.Age == 20].groupby('Gender').get_group('Male').Price.sum()
    sum_female = df[df.Age == 20].groupby('Gender').get_group('Female').Price.sum()

    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 260.2, sum_female: 43.730000000000004

304

### 2) ìƒˆë¡œ íŠ¹ì§•ë“¤ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ì—ì„œ íŠ¹ì§• ê³µí•™ì„ ìˆ˜í–‰í•´ ë³´ì„¸ìš”.
- **(ë‹¤ì¤‘ì„ íƒ) purchase_dataë¥¼ ë­ê¸€ë§í•˜ì—¬ ë‹¤ìŒ ì¡°ê±´ì„ ê³„ì‚°í•˜ê³  ê²°ê³¼ê°€ ì˜¬ë°”ë¥¸ í•­ëª©ë§Œ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**
    1. ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  PriceëŠ” 3.101818ì´ë‹¤.
    2. ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  PriceëŠ” 3.021559ì´ë‹¤.
    3. ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ” 178 ì´ë‹¤.
    4. ë‘ë²ˆì§¸ë¡œ ë§¤ì¶œì„ ë§ì´ ë‚¸ ì•„ì´í…œ IDëŠ” 145ì´ë‹¤.

In [ ]:
### ì´ê³³ì—ì„œ ì œì¶œí¼ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
# ê·¸ë£¹ë³„ Price í‰ê· 

# íŒë§¤ìˆ˜ ìƒìœ„ Item ID

# ë§¤ì¶œ ìƒìœ„ Item IDs

# 123 ì •ë‹µ 4ë²ˆ í‹€ë¦¼

In [ ]:
bins = (1, 20, 50)

In [ ]:
df["level"] = pd.cut(df["Age"], bins)

In [ ]:
df.groupby('level').mean() # 1,2ë²ˆ ì •ë‹µ

                Age    Item ID     Price
level
(1, 20]   16.657343  93.328671  3.101818
(20, 50]  26.220648  91.410931  3.021559

In [ ]:
df['Item ID'].value_counts() # 3ë²ˆ ì •ë‹µ

178    12
82      9
108     9
145     9
92      8
       ..
42      1
118     1
104     1
27      1
51      1
Name: Item ID, Length: 183, dtype: int64

In [10]:
machul = df.groupby('Item ID').Price.sum()

In [8]:
machul

Item ID
0       5.12
1       9.78
2      14.88
3      14.94
4       8.50
       ...
179    26.88
180     3.36
181     8.30
182    12.09
183     3.27
Name: Price, Length: 183, dtype: float64

In [ ]:
machul.sort_values(ascending= False) # 4ë²ˆì •ë‹µ

Item ID
178    50.76
82     44.10
145    41.22
92     39.04
103    34.80
       ...
125     2.00
126     2.00
23      1.99
104     1.93
42      1.75
Name: Price, Length: 183, dtype: float64

## ğŸ”¥ ë„ì „ê³¼ì œ

### 3) ì¡°ê¸ˆ ë¶€ì¡±í•˜ë”ë¼ë„ ìµœì†Œí•œì˜ ë­ê¸€ë§ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì¤€ë¹„í•˜ì—¬ ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµì‹œì¼œ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ë“¤ì´ ì„ íƒí•œ ë°ì´í„°ë¥¼ ê°€ì§€ê³  ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµí•˜ê³  ê²°ê³¼ë¥¼ ë¦¬í¬íŒ… í•©ë‹ˆë‹¤.

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###