<a href="https://colab.research.google.com/github/skdding3/CSAI_assignment/blob/main/Review/Lv1_EDA_4_5_%EC%B2%98%EC%9D%8Cn%EC%A4%84%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B4%80%EC%B0%B0(head).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행 시킬 수 있습니다.

In [2]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2021-10-28 14:59:47--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2021-10-28 14:59:47--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 172.253.123.113, 172.253.123.139, 172.253.123.101, ...
Connecting to drive.google.com (drive.google.com)|172.253.123.113|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/v4eo3h5oikg0vqc7t7sd7ml23oialdpi/1635433125000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download [following]
Warning: wildcards not supported in HTTP.
--2021-10-28 14:59:47--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/v4eo3h5oikg0vqc7t7sd7ml23oialdpi/1635433125000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 74.125.141.132, 2607:f8b0:400c:c06::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|74.125.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2021-10-28 14:59:48 (112 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

## 실습
---
head() 메서드를 이용해 `train 데이터의 상위 10개 행을 출력`해 보세요.

In [3]:
import pandas as pd

train = pd.read_csv('data/train.csv') 
train.head(100)

     id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0     3    20                  16.3  ...           76.0            33.0   49.0
1     6    13                  20.1  ...           73.0            40.0  159.0
2     7     6                  13.9  ...           32.0            19.0   26.0
3     8    23                   8.1  ...           75.0            64.0   57.0
4     9    18                  29.5  ...           27.0            11.0  431.0
..  ...   ...                   ...  ...            ...             ...    ...
95  142    19                  25.0  ...           41.0            23.0  252.0
96  144    22                  14.3  ...           60.0            45.0  108.0
97  145    11                  23.3  ...           63.0            33.0  104.0
98  146    19                  17.8  ...           83.0            47.0  204.0
99  148    12                  18.6  ...           74.0            43.0  116.0

[100 rows x 11 columns]

## 정답
---
스스로 실습 코드를 작성 한 후 정답 코드를 확인해 보세요.

In [4]:
import pandas as pd

train = pd.read_csv('data/train.csv')

# 정답 코드
train.head(100)

     id  hour  hour_bef_temperature  ...  hour_bef_pm10  hour_bef_pm2.5  count
0     3    20                  16.3  ...           76.0            33.0   49.0
1     6    13                  20.1  ...           73.0            40.0  159.0
2     7     6                  13.9  ...           32.0            19.0   26.0
3     8    23                   8.1  ...           75.0            64.0   57.0
4     9    18                  29.5  ...           27.0            11.0  431.0
..  ...   ...                   ...  ...            ...             ...    ...
95  142    19                  25.0  ...           41.0            23.0  252.0
96  144    22                  14.3  ...           60.0            45.0  108.0
97  145    11                  23.3  ...           63.0            33.0  104.0
98  146    19                  17.8  ...           83.0            47.0  204.0
99  148    12                  18.6  ...           74.0            43.0  116.0

[100 rows x 11 columns]

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)