<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 1*

# 📝 Assignment
---
# Choose your ML problems

이번 스프린트에서는 포트폴리오 프로젝트를 위해 수강생 각자가 정한 데이터셋을 사용하여 과제를 수행합니다. 프로젝트를 위한 데이터를 최종 선택하기 전에 여러 가능한 데이터세트를 살펴보고 간단한 모델까지 학습해 보는 것을 추천드립니다.

### 1) 타겟으로 사용할 특성을 선택합니다.
- **(객관식) 다음 중 설명이 올바른 항목을 선택하고 과제 제출폼에 제출하세요.**
    - 특성 3개를 사용해 가장 성능이 좋은 모델 A를 만들고 또 특성 5개를 사용해 최적의 모델 B를 학습하였습니다. 이때 모델 A에서 선택된 특성은 A1, A2, A3 입니다.
    1. 최적의 모델 B에는 특성 A1, A2, A3가 항상 선택됩니다.
    2. 최적의 모델 B 학습시 특성 A1, A2, A3는 전혀 사용되지 않습니다.
    3. 최적의 모델 B에 특성 A1, A2, A3가 선택될지 알 수 없습니다.

In [2]:
### 이곳에서 과제를 진행해 주세요 ### 
# 프로젝트 관련 진행은 도전과제에 한 번에 하겠습니다. 


# 정답 : 3

# 특성 중요도는 모델이 만들어 진 후에 어떤 특성이 선택되었는 지를 보는 것. 
# 특성 중요도는 모델마다 다르므로, 꼭 같은 특성이 선택되지는 않을 수도 있다.

### 2) 풀고자 하는 문제가 분류/회귀 문제인지 정합니다.
- **(객관식) 다음 설명 중 가장 틀린 항목을 선택하고 과제 제출폼에 제출하세요.**
    1. 특정한 종목의 다음날 주식 종가를 예측하는 문제는 Supervised Learning 문제이다.
    2. 다음날 KOSPI 지수가 증가할지 감소할지 예측하는 문제는 Classification 문제이다.
    3. 축구 경기 도중에 승패를 예측하는 모델을 만들기 위해서는 실시간 통계 정보와 경기마다 승패 데이터가 필요하다.
    4. 이번 시즌 토트넘 선수들의 개인 통계 데이터(슛, 도움, ...)를 사용해서 다음 토트넘 경기의 승패를 예측할 수 있다.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ### 
# 프로젝트 관련 진행은 도전과제에 한 번에 하겠습니다. 

# 정답 : 4

# 한 팀의 개인 데이터 만으로 승패를 예측할 수는 없다. 
# 만약 상대팀의 데이터까지 있으면 어느정도 예측할 수 있을 것 같다. 
# 그런데 1번에 주가 예측은 꼭 Supervised여야 할까??

### 3) 타겟의 분포를 분석하고 사용할 평가지표를 선택합니다. 평가지표를 선택한 이유를 설명하세요.
- 분류: 클래스가 몇 개인지? 클래스 비율이 어떤지(balance or imbalance)
- 회귀: 타겟 분포가 right-skewed 인지? log-transform을 사용할 것인지?
- 분류: 다수 클래스(majority class) 비율이 50%~70% 인 경우 정확도(accuracy)만 사용해도 무방합니다. 하지만 범위를 넘어설 경우 정확도만을 사용해서는 모델을 잘못 이해할 수 있습니다. 어떤 평가지표를 사용해야 할까요?
- 회귀: MAE, RMSE, R^2 등을 사용할 수 있습니다.
- **(객관식) 같은 데이터로 스팸을 예측하는 모델 A와 B를 만들었습니다. 다음 설명 중 가장 올바른 항목을 선택하고 과제 제출폼에 제출하세요.**
    1. A의 재현율은 80%이고 B의 재현율은 60%일 때 A가 더 좋은 모델이다.
    2. A의 정밀도는 80%이고 B의 정밀도는 60%일 때 A가 더 좋은 모델이다.
    3. A는 B보다 정밀도는 높지만 재현율은 낮다. A가 더 좋은 모델이다.
    4. A는 B보다 재현율은 높지만, 정밀도는 낮다. A가 더 좋은 모델이다.
    5. A는 B보다 정밀도, 재현율 모두 높다. A가 더 좋은 모델이다.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ### 
# 프로젝트 관련 진행은 도전과제에 한 번에 하겠습니다. 

# 정답 : 5

# 1~4번의 경우, 재현율과 정밀도는 어디에 더 중점을 두느냐에 따라 평가가 다를 수 있다. 
# 5번처럼 한 모델이 재현율과 정밀도 모두 높다면 더 좋은 모델이라고 할 수 있다.

## 🔥 도전과제

### 4) 데이터를 훈련/검증/테스트 데이터로 나누고 전처리를 수행합니다. 그리고 간단한 모델을 사용해서 학습을 수행합니다.
- 이상치(outliers)가 있다면 어떻게 처리할 것인지 설명합니다.
- 무작위로 or 시간에 따라 데이터를 나눌 것인지 설명합니다.
- 모델 학습 결과를 리포팅 합니다.
- 정보 누수(leakage)가 있는지 확인해 봅니다.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ### 

# 데이터 : 4월달 서울시 교통량 
# 분석 목표 : 주말 데이트 코스 짜기
# 분석 내용 : 구간 / 일자 / 시간대 별로 교통량을 분석해서 스트레스 지수? 혹은 운전 쾌적도? 지수를 만든다. 
#             지수가 특정값 이상이면 해당 시간, 해당 구간에 운전하는 것을 피한다. 
#             수치의 범위를 정해서 분류형 문제로 만든다.
#             만약 10구간을 지나야 한다면, 1~2 구간 정도는 수치를 넘어도 괜찮도록 설정해보고 싶다.
#             지도 히트맵을 그려서 시각화해보고 싶다. 가능하면 시간대별로 히트맵의 변화를 볼 수 있도록 해보고 싶다.

#             train / val /test는 무작위로 나눈다. 한달이라는 시간안에 교통량의 변화가 있을 것 같지 않으므로 시계열은 의미가 없을 것 같다.



# --------- 진행 후 추가 내용 ----------
# 막상 데이터를 받아보니 너무 간단해서(특성 자체가 별로 없어서) 공부가 될 지 모르겠다. 
# 추가 시킬 특성이 있을 지 찾아봐야겠다. 
# 또한 데이터의 갯수(row)가 너무 많아서 프로그램 자체가 메모리 부족으로 돌아가지 않는다. 
# 원래 계획은 지난 1년치 데이터를 모두 넣어서 공휴일 여부 등의 특성을 추가하려고 했는데, 4월 한달치 데이터를 반으로 줄였음에도 너무 많다. 
# 어떻게 해야할 지 더 고민이 필요. 
# 주제를 바꾸는 것도 고려 중.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

url = "C://Users//tkryu//Desktop//빅데이터 공부//Code States//Section 2//새 폴더//04월 서울시 교통량 조사자료.csv"


df = pd.read_csv(url)

df.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20210401,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,438.0,290.0,207.0,162.0,...,1752.0,1701.0,1954.0,2111.0,1927.0,1418.0,1148.0,1141.0,1092.0,758.0
1,20210402,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,421.0,291.0,205.0,202.0,...,1993.0,1909.0,1965.0,2241.0,2073.0,1735.0,1245.0,1284.0,1130.0,836.0
2,20210403,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,449.0,364.0,240.0,183.0,...,1801.0,1631.0,1553.0,1485.0,1317.0,941.0,805.0,793.0,749.0,501.0
3,20210404,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,304.0,196.0,148.0,100.0,...,1629.0,1570.0,1413.0,1482.0,1240.0,1043.0,963.0,910.0,803.0,515.0
4,20210405,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,289.0,181.0,145.0,135.0,...,1793.0,1944.0,1759.0,2139.0,1919.0,1358.0,1127.0,1106.0,1019.0,701.0

In [5]:
# 구분, 지점명은 '지점번호'와 같은 의미 이므로 삭제한다.

df2 = df.drop(['구분', '지점명'], axis = 1)
df2.head()

,일자,요일,지점번호,방향,0시,1시,2시,3시,4시,5시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20210401,목,A-01,유입,438.0,290.0,207.0,162.0,273.0,644.0,...,1752.0,1701.0,1954.0,2111.0,1927.0,1418.0,1148.0,1141.0,1092.0,758.0
1,20210402,금,A-01,유입,421.0,291.0,205.0,202.0,286.0,692.0,...,1993.0,1909.0,1965.0,2241.0,2073.0,1735.0,1245.0,1284.0,1130.0,836.0
2,20210403,토,A-01,유입,449.0,364.0,240.0,183.0,254.0,461.0,...,1801.0,1631.0,1553.0,1485.0,1317.0,941.0,805.0,793.0,749.0,501.0
3,20210404,일,A-01,유입,304.0,196.0,148.0,100.0,113.0,248.0,...,1629.0,1570.0,1413.0,1482.0,1240.0,1043.0,963.0,910.0,803.0,515.0
4,20210405,월,A-01,유입,289.0,181.0,145.0,135.0,245.0,678.0,...,1793.0,1944.0,1759.0,2139.0,1919.0,1358.0,1127.0,1106.0,1019.0,701.0

In [7]:
# 시간대가 칼럼으로 나눠져있어서 열로 바꿔준다. 
# 시간대를 정렬할 수 있도록 숫자형으로 바꿔준다. 

df3 = df2.melt(id_vars=['일자','요일','지점번호','방향'],
            var_name = '시간',
            value_name = '교통량')
df3['시간'] = df3['시간'].str.replace('시','')
df3['시간'] = pd.to_numeric(df3['시간'], downcast='integer')
df3

              일자 요일  지점번호  방향  시간     교통량
0       20210401  목  A-01  유입   0   438.0
1       20210402  금  A-01  유입   0   421.0
2       20210403  토  A-01  유입   0   449.0
3       20210404  일  A-01  유입   0   304.0
4       20210405  월  A-01  유입   0   289.0
...          ... ..   ...  ..  ..     ...
194395  20210426  월  F-09  유출  23  2404.0
194396  20210427  화  F-09  유출  23  2304.0
194397  20210428  수  F-09  유출  23  2391.0
194398  20210429  목  F-09  유출  23  2383.0
194399  20210430  금  F-09  유출  23  3128.0

[194400 rows x 6 columns]

In [8]:
# 보기 편하도록 정렬해준다.

df3 = df3.sort_values(by = ['일자','지점번호','시간'])
df3.reset_index(inplace=True, drop = True)

In [10]:
# 모델을 만들어보니 rows가 너무 많아서 메모리 부족으로 프로그램이 돌아가지 않는다. 
# 때문에 "방향" 구분을 없애고 교통량을 합쳐서 row 개수를 반으로 줄인다. 

df4 = df3.groupby(['일자','요일','지점번호','시간'], as_index=False).agg({'교통량' : 'sum'})
df4.head()

         일자 요일  지점번호  시간     교통량
0  20210401  목  A-01   0  1007.0
1  20210401  목  A-01   1   620.0
2  20210401  목  A-01   2   435.0
3  20210401  목  A-01   3   395.0
4  20210401  목  A-01   4   537.0

In [14]:
# row 개수 확인 
len(df4)

97200

In [13]:
# 결측치확인 

df4.isnull().sum()

일자      0
요일      0
지점번호    0
시간      0
교통량     0
dtype: int64

In [15]:
# train / val 나누기

from sklearn.model_selection import train_test_split

train, val = train_test_split(df4, train_size = 0.8, test_size = 0.2, random_state = 2)

In [16]:
from sklearn.pipeline import make_pipeline
from category_encoders import TargetEncoder
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from category_encoders import CatBoostEncoder
from sklearn.metrics import f1_score

In [17]:
target = ['교통량']
features = ['요일','지점번호','시간']

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

In [ ]:
# 1차 모델을 만들었으나 여전히 메모리가 부족해서 돌아가지 않는다. 
# 


# y_train = np.ravel(y_train)

pipe = make_pipeline(
    CatBoostEncoder(a = 1, sigma = 0),
    SimpleImputer(), 
    RandomForestClassifier(n_jobs=-1, random_state=2, oob_score=True, class_weight='balanced', criterion = "entropy", max_depth = 5)
)

# pipe.fit(X_train,y_train)

print('훈련 정확도: ', pipe.score(X_train, y_train))
print('검증 정확도: ', pipe.score(X_val, y_val))

y_pred_val = pipe.predict(X_val)
y_pred_train = pipe.predict(X_train)
print('훈련 f1 score :',f1_score(y_train, y_pred_train))
print('검증 f1 score :',f1_score(y_val, y_pred_val))